PORT=3000
NODE_ENV=development

# Firebase (não coloque credenciais aqui, use serviceAccountKey.json)
FIREBASE_DATABASE_URL=https://controle-de-acesso-tel-rfid2-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_PROJECT_ID=controle-de-acesso-tel-rfid2
